img {
    max-width: 100%;
    height: auto;
    align-items: center;
    display: block;
    margin: 0 100px 0 0;
  }
  .img-div > img {
    align-items: center;
    text-align: center;
    margin: 0 auto;
  
  }
  h1 {
    text-align: center;
  }
  div {
    text-align: center;
  }